.flicker-animation {
  animation: text-flicker 5s ease-in infinite alternate;
}

@keyframes text-flicker {
  0%,
  30%,
  37.8%,
  44.8%,
  51%,
  56.4%,
  64.8%,
  67.8%,
  70%,
  71.4%,
  72% {
    color: transparent;
    text-shadow: none;
  }

  34%,
  41.4%,
  48%,
  53.8%,
  58.8%,
  66.4%,
  69%,
  70.8%,
  71.8%,
  72%,
  100% {
    color: #fff;
    text-shadow:
      0 0 10px,
      0 0 30px #0f11f3,
      0 0 60px #c52323,
      0 0 120px #0f11f3,
      0 0 240px #c52323;
  }
}
